<ul class="footer-ul list-unstyled">
    <li>
        <a href="index.html">Who We Are</a>
    </li>
    <span class="divider">&mdash;</span>
    <li>
        <a href="whatwedo.html">What We Do</a>
    </li>
    <span class="divider">&mdash;</span>
    <li>
        <a href="#">News &amp; Events</a>
    </li>
    <span class="divider">&mdash;</span>
    <li>
        <a href="wherewework.html">Where We Work</a>
    </li>
    <span class="divider">&mdash;</span>
    <li>
        <a href="contact.html">Contact Us</a>
    </li>
</ul>