navigation<!-- <ul class="navbar-nav m1-auto">
         if not current_user.is_authenticated 
        <li class="nav-item">
            <a href="{{ url_for('authentication.login') }}" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
            <a href="{{ url_for('authentication.register') }}" class="nav-link">Register</a>
        </li>
         else 
        </li>
        <li class="nav-item">
            <a href="{{ url_for('authentication.logout') }}" class="nav-link">Logout</a>
        </li> -->

        layout:
        <!-- {{ moment.include_jquery() }}
        {{ moment.include_moment() }} -->