{% extends 'layout.html' %}
{% set active_page='index' -%}

{% block title %}
{{ super() }} | Home
{% endblock %}
{% block body %}

      <div class="container">
        <div class="row">
            <div id="page-content">
                <div id="content">
                    <header>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="authentication-container">
                                    <a href="" class="float-right btn btn-secondary">Login</a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <div id="logo-container">
                                    <img class="img-fluid" src="https://placehold.it/318x76&text=Logo Image" alt="Logo Image">
                                </div>
                            </div>
                        </div>

                        <nav>
                            <ul id="navigation-list" class="list-unstyled">
                                <li><a href="index.html">Who We Are</a></li>
                                <span class="divider">|</span>
                                <li><a href="whatwedo.html">What We Do</a></li>
                                <span class="divider">|</span>
                                <li><a href="#">News &amp; Events</a></li>
                                <span class="divider">|</span>
                                <li><a href="wherewework.html">Where We Work</a></li>
                                <span class="divider">|</span>    
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </nav>
    
                    </header>
                    <main>
                        <div class="row">
                            <div class="col-md-9">
                                <img class="slideshow" width="100%" src="./static/images/nza_slideshow.jpg" alt="">
                            </div>
                            <div class="col-md-3" style="padding-left: 0px;">
                                <div id="sidebar">
                                    <div id="sidebar-content">
                                        <h5 class="sidebar-title">News Feed</h5>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint non delectus minima consectetur nemo 
                                            provident molestias repudiandae perferendis nobis, autem consequatur earum corporis, dolor officiis 
                                            debitis ut nisi voluptatem placeat.</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint non delectus minima consectetur nemo 
                                            provident molestias repudiandae perferendis nobis, autem consequatur earum corporis, dolor officiis 
                                            debitis ut nisi voluptatem placeat.</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint non delectus minima consectetur nemo 
                                            provident molestias repudiandae perferendis nobis, autem consequatur earum corporis, dolor officiis 
                                            debitis ut nisi voluptatem placeat.</p>
                                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint non delectus minima consectetur nemo 
                                            provident molestias repudiandae perferendis nobis, autem consequatur earum corporis, dolor officiis 
                                            debitis ut nisi voluptatem placeat.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row extra-content">
                            <div class="col-md-9">
                                <div class="small-title">
                                    <strong>Welcome to our website!</strong>
                                </div>
                                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Reiciendis nam dolor consequatur qui assumenda 
                                    reprehenderit odio possimus delectus perspiciatis, sit fuga. Itaque quia distinctio eum quod nulla voluptatum 
                                    voluptatem repellat!</p>
                            </div>
                            <div class="col-md-3" style="padding-left: 0;">
                                <div class="small-title">
                                    <strong>Bigshot, Zoo, & Adds, P.C.</strong>
                                </div>
                                <div>419 West South Street, Suite 4200</div>
                                <div>Houston, Texas 35983</div>
                                <div>555-555-5555 (Phone)</div>
                                <div>555-555-5555 (Fax)</div>
                                <div></div>
                            </div>
                        </div>
                    </main>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}