{% extends 'layout.html' %}
{% set active_page='login' -%}

{% block title %}
{{ super() }} | Login
{% endblock %}

{% block body %}
<h3>Login Page</h3>
<hr>
<div class="row">
    <div class="col-md-4">
        <form method="POST">
            <div class="form-group">
                <input type="text" class="form-control" name="email" placeholder="Email">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
            <div class="form-group">
                <!-- b4-form-checkbox -->
                <div class="form-check">
                    <label class="form-check-label">
                        <input type="checkbox" class="form-check-input" name="remember_me">
                        Remember Me
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-outline-primary" value='Submit' />
            </div>
        </form>
    </div>
</div>
{% endblock %}