{% extends 'layout.html' %}
{% set active_page='whatwedo' -%}

{% block title %}
{{ super() }} | What We Do
{% endblock %}
{% block body %}
<main>
    <div class="row">
        <div class="col-md-3" style="padding-left: 0px;">
            <div id="wwd-sidebar">
                <div id="wwd-sidebar-content">
                    <h5 class="sidebar-title">What We Do</h5>
                    <ul class="list-unstyled">
                        <div class="category">
                            Subrogation
                            <li>
                                <a href="#">
                                    Property
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Workers' Comp
                                </a>
                            </li>
                        </div>
                        <div class="category">
                            Litigation
                            <li>
                                <a href="#">
                                    Appeliate
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Commercial
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Defense
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Labor/Employment
                                </a>
                            </li>
                        </div>
                        <div class="category">
                            Business
                            <li>
                                <a href="#">
                                    Brokerage Agreement
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Business Formation
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Business Related Contracts
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Property</li>
                            </a>
                            <li>
                                <a href="#">
                                    Labor/Employment
                                </a>
                            </li>
                        </div>
                        <div class="category">
                            Transportation
                            <li>
                                <a href="#">
                                    Brokerage Agreement
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Business Formation
                                </a>
                            </li>
                        </div>
                        <div class="sidebar-footer">
                            <a href="#">
                                <img style="width: 100%" class="img-fluid"
                                    src="./static/images/content-navlink-attorneys.jpg" alt="">
                            </a>
                        </div>
                        <div class="sidebar-content-bottom">
                            <div><strong>Attorneys</strong></div>
                            <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia, dolor rem
                        iste id cupiditate ipsam.
                        Laborum ab voluptatibus praesentium error, eius nobis reprehenderit
                        laudantium tempora voluptates
                        dignissimos excepturi quidem odit? Quia, dolor rem iste id cupiditate ipsam.
                        Laborum ab voluptatibus praesentium error, eius nobis reprehenderit
                        laudantium tempora voluptates
                        dignissimos excepturi quidem odit? Quia, dolor rem iste id cupiditate ipsam.
                        Laborum ab voluptatibus praesentium error, eius nobis reprehenderit
                        laudantium tempora voluptates
                        dignissimos excepturi quidem odit?</p>
                </div>
            </div>
            <div class="row link-container">
                <div class="col-md-6">
                    <a href="#">
                        <img src="./static/images/sub-02-subrogation.jpg" alt="Subrogation">
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <img src="./static/images/sub-02-litigation.jpg" alt="Subrogation">
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <img src="./static/images/sub-02-business.jpg" alt="Subrogation">
                    </a>
                </div>
                <div class="col-md-6">
                    <a href="#">
                        <img src="./static/images/sub-02-warehouse.jpg" alt="Subrogation">
                    </a>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}